html,body{
    height: 100%;
    width: 100%;
}
button .fa{
    margin-right: 5px;
}
[v-cloak]{
    display: none;
}
.form-control[readonly]{
    cursor: default;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}